.updatePassword {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    position: fixed;
    top: 0%;
    left: 0%;
}

.updatePasswordBox {
    background-color: white;
    width: 60vw;
    height: 70vh;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: rgba(3, 2, 2, 0.226);
    border-radius: 5px;
}

.updatePasswordBox>h2 {
    text-align: center;
    color: rgba(0, 0, 0, 0.664);
    font: 400 1.5vmax "Roboto";
    padding: 1.3vmax;
}

.updatePasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 2vmax;
    height: 70%;
    transition: all 0.5s;
}

.updatePasswordForm>div {
    display: flex;
    width: 100%;
    align-items: center;
}

.updatePasswordForm>div>input {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 90%;
    margin-left: 3vmax;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vmax "Roboto";
    outline: none;
}

#updatePasswordImage>input {
    display: flex;
    padding: 0%;
    width: 40%;
    margin-left: 5px;
    outline: none;
    border: 1px solid tomato;
    border-radius: 6px;
}

.updatePasswordbtn {
    border: 1px solid tomato;
    background-color: tomato;
    color: white;
    font: 300 0.9vmax "Roboto";
    width: 40%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
}

.updatePasswordForm>div>svg {
    position: absolute;
    transform: translateX(4vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.637);
}

.updatePasswordbtn:hover {
    background-color: white;
    color: tomato;
    border: 1px solid tomato;
}

@media screen and (max-width:900px) {
    .updatePasswordBox {
        width: 95vw;
        height: 95vh;
    }
    .updatePasswordForm {
        padding: 5vmax;
    }
    .updatePasswordBox>h2 {
        padding-top: 6.3vmax;
        font-size: 2vmax;
    }
    .updatePassword>div>input {
        padding: 2.5vmax 5vmax;
        font: 300 1.7vmax "Roboto";
        width: 100%;
    }
}