.orderSuccess {
    margin: auto;
    text-align: center;
    padding: 10vmax;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.orderSuccess>svg {
    font-size: 6vmax;
    color: tomato;
}

.orderSuccess>p {
    font-size: 2vmax;
}

.orderSuccess>a {
    color: white;
    text-decoration: none;
    outline: none;
    padding: 1vmax 3vmax;
    cursor: pointer;
    font: 400 1vmax "Roboto";
    text-decoration: 'none';
    background-color: tomato;
    margin-top: 1vmax;
    border-radius: 5px;
}